body {
    background-color: #f1faee;
}

h1,h2 {
    color: #1d3557;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

#signUp {
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
    font-weight: 700;
}

footer a {
    color: #e63946;
}

h2 + button {
    background-color: #a8dadc;
}

footer > a {
    color: #a8dadc;
}

input[type="password"] {
    color: greenyellow;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.post button:hover {
    background-color: #457b9d;
    color: #f1faee;
}

.post button:active {
    background-color: #e63946;
}

.post:nth-of-type(2n) {
    background-color: #b7b7a4;
}

h2::first-letter {
 font-size: 50px;   
}

*::selection {
    color: green;
    background-color: hotpink;
}

